{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Rent <i class="fa fa-car" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user.is_superuser %}
                <li><a class="dropdown-item text-center" href="{% url 'admin:index' %}"><i class="fa fa-cog"></i> Admin Panel</a></li>
              {% endif %}
              <li><a class="dropdown-item text-center" href="" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#registerModal"><i class="fa fa-user-plus"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-sign-in"></i> Log in</a>
          </li>
        </ul>
        {% endif %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>