{% extends "app/layout.html" %}

{% block body %}
<div class="container mt-3">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col text-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h2 class="mb-0">Applications</h2>
                            </div>
                        </div>
                        <hr>
                        <form action="{% url 'applications_search' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h4>Sort by date:</h4>
                                        <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button> 
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="start_date">Start date:</label>
                                        <input class="form-control" type="date" name="start_date" placeholder="Enter year" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="end_date">End date:</label>
                                        <input class="form-control" type="date" name="end_date" placeholder="Enter year" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr>
                        {% for application in applications %}
                            <div class="row">
                                <div class="col text-secondary">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h6>Car</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.car.brand }} {{ application.car.model }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>User</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.user.first_name }} {{ application.user.last_name }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Start date:</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.start_date }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>End date:</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.end_date }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Price</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.car.price }} $</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% empty %}
                            <h4 class="text-center">No applications yet...</h4>
                        {% endfor %}

                        {% if applications %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if applications.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ applications.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item"><a class="page-link" href="">{{ applications.number }}</a></li>

                                    {% if applications.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ applications.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}