{% extends "app/layout.html" %}
{% load static %}

{% block body %}
<div class="container mt-3">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col text-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row p-3">
                            <h1>Rentomatic</h1>
                            <h3>The link between the consumer and the car rental company.</h3>
                        </div>
                        <hr>
                        <div class="row p-3">
                            <h4>Exam project for module № 13 "Software Engineering" <br> for the national training program "IT Career" in Bulgaria.</h4>
                        </div>
                        <hr>
                        <div class="p-3">
                            <h4>Technologies used in this project:</h4>
                            <img src="{% static 'images/python3.png' %}" alt="Python 3" width="50">
                            <img src="{% static 'images/django.png' %}" alt="Django" width="50">
                            <img src="{% static 'images/sqlite3.png' %}" alt="SQLite 3" width="50">
                            <img src="{% static 'images/postgresql.png' %}" alt="PostgreSQL" width="50">
                            <img src="{% static 'images/html5.png' %}" alt="HTML 5" width="56">
                            <img src="{% static 'images/css3.png' %}" alt="CSS 3" width="39">
                            <img src="{% static 'images/bootstrap.png' %}" alt="Bootstrap" width="50">
                            <img src="{% static 'images/javascript.png' %}" alt="Javascript" width="40">
                            <img src="{% static 'images/jquery.png' %}" alt="JQuery" width="50">
                        </div>
                        <hr>
                        <div class="row p-3">
                            <div class="text-center">
                                <h4>
                                    Reach me on social media:
                                    <br>
                                    <br>
                                    <a target="_blank" href="https://www.facebook.com/mmanchev23/"><img src="{% static 'images/facebook.png' %}" alt="Facebook" width="40"></a>
                                    <a target="_blank" href="https://twitter.com/MartinManchev8"><img src="{% static 'images/twitter.png' %}" alt="Twitter" width="40"></a>
                                    <a target="_blank" href="https://www.linkedin.com/in/martin-manchev/"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" width="40"></a>
                                    <a target="_blank" href="https://github.com/mmanchev23"><img src="{% static 'images/github.png' %}" alt="Github" width="40"></a>
                                </h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row p-3">
                            <div class="text-center">
                                <h4>
                                    © 2022 Copyright:
                                    <a class="text-reset fw-bold" target="_blank" href="https://github.com/mmanchev23/Rentomatic/blob/master/LICENSE">GNU General Public License v3.0</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}