{% extends "app/layout.html" %}

{% block body %}
  <div class="container mt-3">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <div class="mt-3">
                  <h4>
                    {% if user.first_name and user.last_name %}
                      {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </h4>
                  <h5>
                    {% if user.is_superuser %}
                      <span class="badge bg-warning">Administrator</span>
                    {% else %}
                      <span class="badge bg-primary">User</span>
                    {% endif %}
                  </h5>
                  {% if user == request.user %}
                    <a class="btn btn-success" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile Settings">
                      <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                    </a>
                  {% endif %}
                  <a class="btn btn-primary" href="{% url 'index' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <!-- Personal Info -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0 text-primary"><i class="fa fa-id-card text-primary" aria-hidden="true"></i> Full Name</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                  {% else %}
                    No identity information given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0 text-primary"><i class="fa fa-user-circle text-primary" aria-hidden="true"></i> Username</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.username %}
                    {{ user.username }}
                  {% else %}
                    No information given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0 text-primary"><i class="fa fa-envelope text-primary" aria-hidden="true"></i> Email</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.email %}
                    {{ user.email }}
                  {% else %}
                    No email information given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0 text-primary"><i class="fa fa-phone text-primary" aria-hidden="true"></i> Phone</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.phone_number %}
                    {{ user.phone_number }}
                  {% else %}
                    No phone number information given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0 text-primary"><i class="fa fa-id-badge" aria-hidden="true"></i> PIN</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.pin %}
                    {{ user.pin }}
                  {% else %}
                    No PIN information given
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}