<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign out?</h5>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-success" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sign out</a>
        <button class="btn btn-danger" type="submit" data-dismiss="modal" value="Close">
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>